body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('./pics/frogger.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Indie Flower', cursive;
}

#login {
    padding-top: 40px;
}

#loginButton {
    margin-top: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

#logoutButton {
    margin-top: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

#registerButton {
    margin-block: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

.editButton {
    width: 50px;
}

/* #logout {
    margin-top: 20px;
    background-color: rgb(73, 230, 230);
    width: 70px;
    height: 40px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
} */

#user {
    color:#db0000;
    font-size: xx-large;
}

.post{
    background-color: rgb(55, 64, 94);
    color: #FFFF;
    border: solid 0.1vh black;
    margin: 10px;
    border-radius: 0.4vh;
}

#sendboxBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#inputbox {
    color: #FFFF;
    background-color: rgb(55, 64, 94);
    width: 20%;
    /* height: 68px; */
    border-radius: 0.1vh;
    border-radius: 0.4vh;
    border: solid 0.1vh black;
    font-family: 'Indie Flower', cursive;
}

#sendInputbox {
    color: #FFFF;
    background-color: rgb(98, 116, 177);
    width: 40%;
    max-width: 350px;
    height: 120px;
    border-radius: 0.1vh;
    border-radius: 0.4vh;
    border: solid 0.1vh black;
    font-family: 'Indie Flower', cursive;
    resize: none;
}

#sendbutton{
    background-color: rgb(73, 230, 230);
    border: none;
    border-radius: 0.1vh;
    border-radius: 3px;
    padding: 10px;
    height: 50%;
    align-self: center;
}

.contentRow {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    text-align: center;
}

.dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 1000;
}

.dropdown-menu div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background-color: #f0f0f0;
}