body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('./pics/frogger.jpg');
    background-image: url('./pics/image-cache.jpg');
    background-image: url('./pics/image-cache.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Indie Flower', cursive;
    color: #FFFF;
}

#login {
    padding-top: 40px;
}

#loginButton {
    margin-top: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

#topbar {
    display: flex;
    justify-content: space-around;
    padding-block: 20px;
}

.showButton {
    margin-top: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

#logoutButton {
    margin-top: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

#registerButton {
    margin-block: 20px;
    background-color: rgb(73, 230, 230);
    padding: 10px;
    font-size: 1.5vw;
    color: rgb(140, 0, 255);
    border-radius: 5px;
    border: none;
}

.editButton {
    width: 50px;
}

#user {
    color:#db0000;
    font-size: xx-large;
    padding: 10px;
}

/* #userFilters {
    display: flex;
    justify-content: center;
    padding-block: 20px;
} */

.filter {
    display: flex;
    justify-content: center;
    padding-block: 20px;
}

.searchInput {
    background-color: rgb(55, 64, 94);
    width: 63%;
    color: #FFFF;
    border-radius: 0.1vh;
    border-radius: 0.4vh;
    border: solid 0.1vh black;
    font-family: 'Indie Flower', cursive;
    padding: 3px;
}

#users {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 70px;
    padding-inline: 100px;
    padding-bottom: 160px;
}

.user {
    font-size: xx-large;
    background-color: rgb(55, 64, 94);
    padding: 20px;
    max-width: 300px;
    border-radius: 0.4vh;
    border: solid 0.1vh black;
}

.userDescription {
    font-size: large;
    display: flex;
    align-items: center;
    height: 70%;
}

#posts {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 160px;
}

.post{
    background-color: rgb(55, 64, 94);
    border: solid 0.1vh black;
    margin: 10px;
    border-radius: 0.4vh;
}

#sendbox {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(33, 41, 68);
    padding-block: 10px;
}

#sendboxForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#inputbox {
    background-color: rgb(55, 64, 94);
    width: 20%;
    /* height: 68px; */
    border-radius: 0.1vh;
    border-radius: 0.4vh;
    border: solid 0.1vh black;
    font-family: 'Indie Flower', cursive;
}

#sendInputbox {
    background-color: rgb(98, 116, 177);
    width: 40%;
    max-width: 350px;
    height: 120px;
    border-radius: 0.1vh;
    border-radius: 0.4vh;
    border: solid 0.1vh black;
    font-family: 'Indie Flower', cursive;
    resize: none;
    color: #FFFF;
}

#sendbutton{
    background-color: rgb(73, 230, 230);
    border: none;
    border-radius: 0.1vh;
    border-radius: 3px;
    padding-inline: 20px;
    padding-block: 10px;
    height: 50%;
}

.contentRow {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    text-align: center;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 1000;
    translate: 0px -48px;
    width: 40%;
    background-color: #404f82;
    border: solid 0.1vh black;
    max-width: 350px;
}

#alertbox {
    max-height: 200px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 1000;
    translate: 0px -48px;
    width: 40%;
    background-color: #404f82;
    border: solid 0.1vh black;
    max-width: 350px;
}

.dropdown-menu div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-menu div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background-color: #36426b;;
}